<div class="fb-login-error"></div>
{% if status_fb_login %}
    <div id="fb-root"></div>
    <script>
        function loginViaFB() {
            var insert_after = $('.login-block > h2');
            FB.getLoginStatus(function(response) {
                    FB.login(function(response) {
                        if (response.authResponse) {
                            FB.api('/me?fields=name,id,email,first_name,last_name', function (response) {
                                $.ajax({
                                    url: '{{ request }}',
                                    data: 'email=' + response.email + '&fname=' + response.first_name + '&lname=' + response.last_name + '&fb_id=' + response.id + '&login_via=facebook',
                                    type: 'get',
                                    success: function (json) {
                                        if (json['success']) {
                                            window.location.reload();
                                        } else if (json['error']) {
                                            for (i in json['error']) {
                                                $('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'][i] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>').insertAfter(insert_after);
                                            }
                                        } else {
                                            window.location.reload();
                                        }
                                    }
                                });
                            });
                        } else {
                            $('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_auth_error }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>').insertAfter(insert_after);
                        }
                    }, {scope: 'email'});
            });
        }
        window.fbAsyncInit = function() {
            FB.init({
            appId      : '{{ app_id }}',
            cookie     : true,
            xfbml      : true,
            version    : 'v4.0'
            });
            FB.AppEvents.logPageView();
        };
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/{{ location_code }}/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));
    </script>
    <div class="btn btn-fb btn-outline btn-social-login btn-block" onclick="loginViaFB();">
        <i class="fa fa-facebook"></i> {{ text_facebook }}
    </div>
{% endif %}
